
body {
	font-family: Verdana;
}

div#menu {
	float: left;
	position: fixed;
	width: 200px;
	top: 20px;
}

div#pageContent {
	float: right;
    position: relative;
    top: 0px;
    left: 220px;
    bottom: 0px;
    min-width: 100%;
}

div#pageContent iframe {
    /*position: absolute;*/
    top: 70px;
    bottom: 0;
    left: 220px;
    right: 0;
    height: 100%;
    width: 100%;
    border: 0px;
}